<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <img src="/images/moped.png" class='logo'/> 
        <div id="title"><%=title%></div>
    </header>
    <div class="horizontalLine"></div>
    <div class="subMenuBar"></div>
    <section class="content">
        <div class="columns">
          <aside style="display: none;"></aside>
          <main class="main">
                <a style="border: 1px solid #000000; height: 100px; width: 100px; margin: 20px; padding: 20px;" href="/ReportsList">Reports</a>
                <a style="border: 1px solid #000000; height: 100px; width: 100px; margin: 20px; padding: 20px;" href="/caseReport">Support Cases</a>
            </main>
         </div>
      </section>
    <div class="horizontalLine"></div>
    <footer class="footer">Footer</footer>
</div>
</body>
</html>
